<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan- Farm Services &amp; Organic Food Store Template | News</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
  <div class="top-header-meta text-right">
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="krishivyahan@test.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">krishivyahan@test.com</span></span></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="famie-main-menu">
  <div class="classy-nav-container breakpoint-off">
  <div class="container ">
<nav class="classy-navbar justify-content-between" id="famieNav">
    <a href="/" class="nav-brand"><img src="img/core-img/krishi.jpeg" alt=""></a>
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    <div class="classy-menu">
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
    <div class="classynav">
    
    <ul>
    <li><a href="/Home_seller">Home</a></li>
    <span class="dropdown show mx-2">
      <a class="dropbtn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        FEATURES
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/lab">Lab details</a>
        <a class="dropdown-item" href="/insurance">Agro Insurance</a>
        <a class="dropdown-item" href="/crop_page">Crop Recommendation</a>
      </div>
    </span>
    <li><a href="/Reupyog">ReUpyog</a></li>
    <li><a href="/transportation">Transportation</a></li>
    <li><a href="/govtschemes">Govt Schemes</a></li>
    <li><a href="/about_us">About us </a></li>
    </ul>
    
    
    
    <div id="searchIcon">
    <i class="icon_search" aria-hidden="true"></i>
    </div>
    
    <div id="cartIcon">
    <a href="/shop">
    <i class="icon_cart_alt" aria-hidden="true"></i>
    </a>
    </div>
    <div id="logoutIcon"> 
    <a href="/logout">
      <i class="fa fa-sign-out"></i>
    </a>
    </div>
    <a href="/profile">
      <i class="fa fa-user fa-2x" aria-hidden="true"> </i>
    </a>
    </div>
    </div>
    </nav>
    
    
<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter..." required>
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>

<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/upyog.png');">
  <div class="container h-100">
  <div class="row h-100 align-items-center">
  <div class="col-12">
  <div class="breadcrumb-text">
  <h2>REUPYOG</h2>
  </div>
  </div>
  </div>
  </div>
  </div>

<div class="famie-breadcrumb">
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
<li class="breadcrumb-item active" aria-current="page"> <a href="#">Feed</a></li>
</ol>
</nav>
</div>
</div>


<section class="shop-area section-padding-0-100">
  <div class="container">
  <div class="row">
  
  <div class="col-12">
  <div class="shop-filters mb-30 d-flex align-items-center justify-content-between">
  
  <div class="product-show">
  <h6>Showing 1–9 of 72 results</h6>
  </div>
  
  <div class="produtc-view-mode">
  <a href="#"><i class="fa fa-th"></i></a>
  <a href="#"><i class="fa fa-list-ul"></i></a>
  </div>
  </div>
  </div>
  </div>
  <div class="row">
  
  
    <div class="section-heading">
     <p>  Articles  </p>
      <h2><%=hello.category%></h2>
      <img src="img/core-img/decor.png" alt="">
      </div>
  <div class="col-12 col-md-8 col-lg-12">
  <div class="row">
    <%for(var i=0;i<hello.Article.length;i++){%>
  <div class="col-12 col-sm-6 col-lg-6">
  <div class="Upyogcard mb-50">
    <div class="wow fadeInUp" data-wow-delay:="300ms">
  <div class="thumbnail">
    <a href="<%=hello.Article[i].link%>"><img src="<%=hello.Article[i].article_image%>" alt="" style="width: 570px; height: 300px;"></a>
   </div>
  </div>
  <div class="desc text-center pt-4 " style="background-color: rgb(241, 241, 241);">
    <div class="small text-muted" style="margin-right: 15px;">January 31, 2022</div>
      <h3><%=hello.Article[i].title%></h3>                  
  <a class="btn famie-btn" href="<%=hello.Article[i].link%>" style="margin-top: 15px;">Read more →</a>
  </div>
  
  </div>
  </div>
  <%}%>
  </div>
  
  <div class="section-heading">
    <h2> Videos </h2>
     <img src="img/core-img/decor.png" alt="">
     </div>
  <%for(var j=0;j<hello.Video.length;j++){ %>

  <div class="row">
  <div class="col-12 col-sm-6 col-lg-6">


  <div class="Videos mb-50">
  <div class="thumbnail">
    <span><h6><%=hello.Video[j].title%></h6></span>

    <div class="section-heading">
       <img src="img/core-img/decor.png" alt="">
       </div>
    <a href="<%=hello.Video[j].video_link%>"><video width="560px" height="520px" controls>
      Your browser does not support the video tag.
    </video>
    </a>
   </div>
   
  </div>
  </div>

  <%}%>
  </div>
  </div>
  </div>
  </div>
  </div>

  </section>




  <%-include('./partials/footer.ejs')%>
    
  <%-include('./partials/javascript-links.ejs')%>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-23581568-13');
</script>
</body>
</html>