<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan- Farm Services &amp; Organic Food Store Template | News</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
  <div class="top-header-meta text-right">
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">[email&#160;protected]</span></span></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="famie-main-menu">
<div class="classy-nav-container breakpoint-off">
<div class="container">


  <nav class="classy-navbar justify-content-between" id="famieNav">

    <a href="/" class="nav-brand"><img src="img/core-img/krishi.jpeg" alt=""></a>
    
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    
    <div class="classy-menu">
    
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
    
    <div class="classynav">
        <ul>
        <li class="active"><a href="/Home_consumer">Home</a></li>
        <li><a href="/consumer_feed">Sellers</a>
        </li>
        <li><a href="/consumer_transportation">Transportation</a></li>
        <li><a href="/consumer_govtschemes">Govt Schemes</a></li>
        <li><a href="/consumer_about_us">About us </a></li>
        </ul>
      
      <div id="searchIcon">
      <i class="icon_search" aria-hidden="true"></i>
      </div>
      
      <div id="cartIcon">
      <a href="/consumer_shop">
      <i class="icon_cart_alt" aria-hidden="true"></i>
      </a>
      </div>
      <div id="logoutIcon"> 
      <a href="/logout">
        <i class="fa fa-sign-out"></i>
      </a>
      </div>
      <a href="#">
        <i class="fa fa-user fa-2x" aria-hidden="true"> </i>
      </a>
      </div>
      
    
    </div>
    </nav>
<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>


<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/transportation.jpg');">
    <div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-12">
    <div class="breadcrumb-text">
    <h2>Transportation</h2>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="famie-breadcrumb">
    <div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> <a href="/transportation">Transportation</a></li>
    </ol>
    </nav>
    </div>
    </div>



    <section class="shop-area">
      <div class="container">
      <div class="row">
      
      <div class="col-12">
      <div class="shop-filters mb-30 d-flex align-items-center justify-content-between">
      
      <div class="product-show">
      <h6>Get your produces, machinery, logistics delivered to the consumers at an ease, in an economically quoted price.</h6>
      </div>
      
      <div class="produtc-view-mode">
      <a href="#"><i class="fa fa-th"></i></a>
      <a href="#"><i class="fa fa-list-ul"></i></a>
      </div>
      </div>
      </div>
      </div>
      <div class="row">
      
      <div class="col-12 col-md-4 col-lg-2">
      
      <div class="shopping-cart mb-50">
      <h5 class="mb-30">Transport Details</h5>
      </div>

      <div class="single-widget-area">
      
      <h5 class="widget-title">Catagories</h5>
      
      <ul class="cata-list shop-page">
      <li><a href="#">Mini Truck (72)</a></li>
      <li><a href="#">AC Truck (20)</a></li>
      <li><a href="#">Bulky Truck (15)</a></li>
      <li><a href="#">Flatbed Truck (20)</a></li>
      <li><a href="#">Others (20)</a></li>
      </ul>
      </div>
      
      <div class="single-widget-area">
      
      <h5 class="widget-title">Sort by</h5>
      
      <ul class="cata-list shop-page">
      <li><a href="#">Availibility</a></li>
      <li><a href="#">Mini Truck</a></li>
      <li><a href="#">Bulky Truck Truck</a></li>
      <li><a href="#">Logistic Transportation</a></li>
      <li><a href="#">Crop Transportation</a></li>
      <li><a href="#">Latest Appointment</a></li>
      <li><a href="#">Alphabetically, A-Z</a></li>
      <li><a href="#">Alphabetically, Z-A</a></li>
      <li><a href="#">Price: low to high</a></li>
      <li><a href="#">Price: high to low</a></li>
      </ul>
      </div>
      
      <div class="single-widget-area">
      
      <h5 class="widget-title">Price</h5>
      
      <ul class="cata-list shop-page">
      <li><a href="#">RS 0.00 - RS 2000.00</a></li>
      <li><a href="#">RS 2000.00 - RS 5000.00</a></li>
      <li><a href="#">RS 5000.00 - RS 10000.00</a></li>
      <li><a href="#">RS 10000.00+</a></li>
      </ul>
      </div>
      
      <div class="single-widget-area">
      
      <h5 class="widget-title">Tags</h5>
      
      <ul class="famie-tags">
      <li><a href="#">All products</a></li>
      <li><a href="#">Agriculture</a></li>
      <li><a href="#">Farmers</a></li>
      <li><a href="#">Transport</a></li>
      <li><a href="#">Facilities</a></li>
      <li><a href="#">Trucks</a></li>
      </ul>
      </div>
      </div>
      
      <div class="col-12 col-md-8 col-lg-10">
          <div class="friend-list">
              <div class="row">
    <%for(var i=0;i<data.length;i++){ %>
                  <div class="col-md-4 col-sm-6 col-lg-4 ">
                    <div class="friend-card" >
                        <div class="card-info">
                          <h5><%=data[i].company_name%></h5>
                        <img src="<%=data[i].profile_image%>" alt="user" class="transport-photo-lg">
                          <p class="wow fadeInUp" data-wow-delay:="300ms">
                            <span id="contact"> Contact No:</span> <%=data[i].contact_no%>
                         </p>
                           <p class="wow fadeInUp" data-wow-delay:="300ms">
                        <span id="address">Address</span> <%=data[i].address%></p>
                        <p class="wow fadeInUp" data-wow-delay:="300ms">
                          <span id="category"> Category:</span> <%=data[i].category%></p>
                          <p class="wow fadeInUp" data-wow-delay:="300ms">
                            <span id="availability">Availability: </span> <%=data[i].availability%></p>
                       </p>
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                  <%}%>
              </div>
          </div>
      </div>
      </div>
      </div>
      </section>


      <section class="contact-area bg-gray section-padding-100-0">
        <div class="container">
        <div class="row align-items-end">
        
        <div class="col-12 col-lg-7">
        <div class="contact-content section-padding-0-100">
        
        <div class="section-heading">
        <p>BECOME a FARMER</p>
        <h2><span>Start an</span> Apprenticeship Program</h2>
        <img src="img/core-img/decor.png" alt="">
        </div>
        
        <div class="contact-form-area">
        <form action="#" method="post">
        <div class="row">
        <div class="col-lg-6">
        <input type="text" class="form-control" name="name" placeholder="Your Name" required>
        </div>
        <div class="col-lg-6">
        <input type="email" class="form-control" name="email" placeholder="Your Email" required>
        </div>
        <div class="col-12">
        <input type="text" class="form-control" name="subject" placeholder="Your Subject" required>
        </div>
        <div class="col-12">
        <textarea name="message" class="form-control" cols="30" rows="10" placeholder="Your Message" required></textarea>
        </div>
        <div class="col-12">
        <button type="submit" class="btn famie-btn">Send Message</button>
        </div>
        </div>
        </form>
        </div>
        </div>
        </div>
        
        <div class="col-lg-5">
        <div class="consaltant-thumbnail text-center">
        <img src="img/bg-img/25.png" alt="">
        </div>
        </div>
        </div>
        </div>
        </section>

        
      </section>


      <section class="famie-faq-area section-padding-100">
      <div class="container">
      <div class="row">
      <div class="col-12">
      
      <div class="section-heading text-center">
      <p>HAVE A QUESTION?</p>
      <h2><span>Get answers</span> to FAQs about the service</h2>
      <img src="img/core-img/decor2.png" alt="">
      </div>
      </div>
      </div>
      <div class="row">
      <div class="col-12">
      <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
      
      <div class="panel single-accordion">
      <h6><a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Are organic products of the same quality as other food and drink ?
      <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
      <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
      </a></h6>
      <div id="collapseOne" class="accordion-content collapse show">
      <p>Organic production methods differ from conventional ones – but the aim is nonetheless to produce top-quality food and drink. Organic produce has to meet the same safety standards as other foods and complies with EU General Food
      law. The difference is that instead of using chemical compounds to combat pests or weeds, organic farmers use multi-annual crop rotations and resistant varieties to prevent such problems from occurring in the first place.</p>
      </div>
      </div>
      
      <div class="panel single-accordion">
      <h6>
      <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Do organic products taste different from other food and drink ?
      <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
      <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
      </a>
      </h6>
      <div id="collapseTwo" class="accordion-content collapse">
      <p>Organic production methods differ from conventional ones – but the aim is nonetheless to produce top-quality food and drink. Organic produce has to meet the same safety standards as other foods and complies with EU General Food
      law. The difference is that instead of using chemical compounds to combat pests or weeds, organic farmers use multi-annual crop rotations and resistant varieties to prevent such problems from occurring in the first place.</p>
      </div>
      </div>
      
      <div class="panel single-accordion">
      <h6>
      <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Are all of your poultry, meat and fish products raised humanely ?
      <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
      <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
      </a>
      </h6>
      <div id="collapseThree" class="accordion-content collapse">
      <p>Organic production methods differ from conventional ones – but the aim is nonetheless to produce top-quality food and drink. Organic produce has to meet the same safety standards as other foods and complies with EU General Food
      law. The difference is that instead of using chemical compounds to combat pests or weeds, organic farmers use multi-annual crop rotations and resistant varieties to prevent such problems from occurring in the first place.</p>
      </div>
      </div>
      
      <div class="panel single-accordion">
      <h6>
      <a role="button" aria-expanded="true" aria-controls="collapseFour" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Does FAMIE contain any ingredients from China or outside of North America ?
      <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
      <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
      </a>
      </h6>
      <div id="collapseFour" class="accordion-content collapse">
      <p>Organic production methods differ from conventional ones – but the aim is nonetheless to produce top-quality food and drink. Organic produce has to meet the same safety standards as other foods and complies with EU General Food
      law. The difference is that instead of using chemical compounds to combat pests or weeds, organic farmers use multi-annual crop rotations and resistant varieties to prevent such problems from occurring in the first place.</p>
      </div>
      </div>
      
      <div class="panel single-accordion">
      <h6>
      <a role="button" aria-expanded="true" aria-controls="collapseFive" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">Are you a retailer interested in bringing in FARMIE products ?
      <span class="accor-open"><i class="arrow_carrot-up" aria-hidden="true"></i></span>
      <span class="accor-close"><i class="arrow_carrot-down" aria-hidden="true"></i></span>
      </a>
      </h6>
      <div id="collapseFive" class="accordion-content collapse">
      <p>Organic production methods differ from conventional ones – but the aim is nonetheless to produce top-quality food and drink. Organic produce has to meet the same safety standards as other foods and complies with EU General Food
      law. The difference is that instead of using chemical compounds to combat pests or weeds, organic farmers use multi-annual crop rotations and resistant varieties to prevent such problems from occurring in the first place.</p>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      <nav>
        <ul class="pagination mb-0 mt-50">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
        </nav>
      </section>

<footer class="footer-area">

    <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(img/bg-img/3.jpg);">
    <div class="container">
    <div class="row">
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <a href="#" class="foo-logo d-block mb-30"><img src="img/core-img/logo2.png" alt=""></a>
    <p>Lorem ipsum dolor sit amet, consecte stare adipiscing elit. In act honcus risus atiner Pellentesque risus.</p>
    <div class="contact-info">
    <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>120 Raymond Rd, New Delhi</span></p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i><span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d2bbbcb4bdfcb6b7b7a0b1a0b7b3a6bba4b792b5bfb3bbbefcb1bdbf">[email&#160;protected]</a></span></p>
    <p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">QUICK LINK</h5>
    
    <nav class="footer-widget-nav">
    <ul>
    <li><a href="#">Purchase</a></li>
    <li><a href="#">Policities</a></li>
    <li><a href="#">Shipping</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Return</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Payments</a></li>
    <li><a href="#">Partners</a></li>
    <li><a href="#">Guide</a></li>
    <li><a href="#">Standard</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Brands</a></li>
    </ul>
    </nav>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">RECENT NEWS</h5>
    
    <div class="single-recent-blog d-flex align-items-center">
    <div class="post-thumbnail">
    <img src="img/bg-img/4.jpg" alt="">
    </div>
    <div class="post-content">
    <a href="#" class="post-title">WA’s largest farming business on the market</a>
    <div class="post-date">18 Aug 2018</div>
    </div>
    </div>
    
    <div class="single-recent-blog d-flex align-items-center">
    <div class="post-thumbnail">
    <img src="img/bg-img/5.jpg" alt="">
    </div>
    <div class="post-content">
    <a href="#" class="post-title">Beef retail prices hit a record</a>
    <div class="post-date">18 Aug 2018</div>
     </div>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">STAY CONNECTED</h5>
    
    <div class="footer-social-info">
    <a href="#">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <span>Facebook</span>
    </a>
    <a href="#">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <span>Twitter</span>
    </a>
    <a href="#">
    <i class="fa fa-pinterest" aria-hidden="true"></i>
    <span>Pinterest</span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="copywrite-area">
    <div class="container">
    <div class="copywrite-text">
    <div class="row align-items-center">
    <div class="col-md-6">
    <p>
    Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
    
    </p>
    </div>
    <div class="col-md-6">
    <div class="footer-nav">
    <nav>
    <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Produce</a></li>
    <li><a href="#">Practice</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>
    

<script src="js/jquery.min.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/classynav.js"></script>

<script src="js/wow.min.js"></script>

<script src="js/jquery.sticky.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>

<script src="js/jquery.scrollup.min.js"></script>

<script src="js/jarallax.min.js"></script>

<script src="js/jarallax-video.min.js"></script>

<script src="js/active.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>